@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
:root{
    --yellow:#FAEF5D;
    --blue:#1D2B53;
    --white:#FEFAF6;
    --orange:#F97300;
    --opacityWhite:rgba(254, 250, 246, 0.4)

}