.home_about{
    padding: 50px 150px 20px 150px;
    // width: 80vw;

    .principle_photo{
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            border-radius: 10px;
            height: 100%;
            width: 100%;
        }
    }
    .our_school{
        text-align: center;

        h2{
            font-family: "Libre Baskerville", serif;
            color: var(--blue);
            font-style: italic;
            font-weight: bold;
            margin-bottom: 20px;
            
        }
        p{
            font-family: "Libre Baskerville", serif;
            color: black;
        }
        .btn{
            border: 3px solid var(--yellow);
            font-size: 18px;
            font-style: italic;
            font-weight: 600;
            border-radius: 15px;
            color: var(--blue);
        }
        .btn:hover{
            background-color: var(--yellow);
        }
    }
}