#navbar{
    margin-top: -10px;
    padding: 0;
    height: 70px;
    background-color: var(--blue) !important;
    font-family: "Libre Baskerville", serif;
    font-size: 16px;
    letter-spacing: 2px;
    
    #navbarNavDropdown{
        justify-content: center;
        text-align: center;

        .nav-link{
        color: var(--white) !important;
        padding: 25px;
    }
    .dropdown-menu{
        // background-color: var(--blue);
    }
    }
    
}