.results-form {
    max-width: 800px;
    margin: 0 auto;

    h2 {
        margin-bottom: 20px;
    }

    .table {
        margin-bottom: 20px;
    }

    .form-control {
        width: 100%;
        padding: 0.5rem;
        margin: 0;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        &:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
    }
}
